<%= link_to "Create Project", new_project_path %>

<% @projects.each do |p| %>
<br/>
<%= link_to p.name, p %>
<%= link_to "Settings", settings_project_path(p) %>
<% end %>

<%= link_to "Signout", destroy_user_session_path, method: :delete %>