<%= form_tag(@project, method: :put) do %>
	<label>Project name</label>
	<input type="text" name="project[name]">
	<br/>

	<label>Add User</label>
	<input type="text" name="project[user_email]">
	<br/>
	Users<br/>
	<% for u in @project.users do %>
	<%= u.email %> <br/>
	<% end %>
	<input type="submit">
<% end %>