// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#editor{
	height: 275px;
	border: 1px solid #DDD;
	border-radius: 4px;
	border-bottom-right-radius: 0px;
	margin-top: 5px;
	font-size: 18pt;
}

#argument-view-wrapper-outer{
	height: 800px;
}

#argument-view-wrapper-inner{
	border: 1px solid #DDD;
	border-radius: 4px;
	border-bottom-right-radius: 0px;
	height: 750px;
	overflow: scroll;
}

#argument-view{
	height: 900px;
	width: 100%;
}

#argument-view-toolbar{
	padding: 5px;
}

.notehighlight{
	position: absolute;
	border-bottom: 3px solid red;
  cursor: hand;
	z-index: 20;
}

.highlight {
  position: absolute;
  border-bottom: 3px solid;
  cursor: hand;
  z-index: 20;
}

/*
.rednotehighlight{
  position: absolute;
  border-bottom: 3px solid red;
  cursor: hand;
  z-index: 20;
}

.greennotehighlight{
  position: absolute;
  border-bottom: 3px solid green;
  cursor: hand;
  z-index: 20;
}

.bluenotehighlight{
  position: absolute;
  border-bottom: 3px solid blue;
  cursor: hand;
  z-index: 20;
}
*/

.location{
  position: absolute;
  background: rgba(217, 237, 255, 1);
  cursor: hand;
  z-index: 20; 
}

.organization{
  position: absolute;
  background: rgba(205, 252, 205, 1);
  z-index: 20; 
}

.person{
  position: absolute;
  background: rgba(250, 250 ,175 , 1);
  z-index: 20; 
}

.date{
  position: absolute;
  background: rgba(255, 225, 184 , 1);
  z-index: 20; 
}

.phone{
  position: absolute;
  background: rgba(233, 237, 171, 1);
  z-index: 20; 
}

.money{
  position: absolute;
  background: rgba(223, 237, 221, 1);
  z-index: 20; 
}

.account{
  position: absolute;
  background: rgba(251, 240, 204, 1);
  z-index: 20; 
}

.note-select{
  position: absolute;
  border-top: thin dashed red;
  border-left: thin dashed red;
  border-right: thin dashed red;
  background: yellow;
  z-index: 15;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

path {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

rect.arg-box {
    fill: white;
    opacity: 1;
    stroke: #DDD;
    stroke-width: 1px;
}

rect.positive {
    fill: #BCED91
}

rect.negative {
    fill: #EE6363
}

button.positive{
    background: #BCED91  
}

button.negative{
    background: #EE6363
}

text {
    font-size: 12px;
    font-family: Verdana, sans-serif;
}

#note-content{
	width: 100%;
	height: 200px;
}

rect.selected{
	stroke: steelblue;
	stroke-width: 3;
}

ui-dialog-content::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 11px;
  height: 11px;
}

.ui-dialog-content::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, .5);
}

.redback{
  background: rgba(255,0,0,1);
}

.orangeback{
  background: rgba(255,0,0,.66);
}

.grayback{
  background: rgba(255,0,0,.33);
}

.note{
  height: 100px;
  border-radius: 5px;
  border: thin solid #DDD;
  margin: 5px;
}

.note .header{
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #DDD;
}

#credit-footer{
  clear: both;
  float: right;
  position:relative;
  margin-top: 20px;
  bottom:0px;
  font-size: 10px;
}

image {
  fill: red;
  background: red;
}

ul {
  list-style: none;
}

#doc-note-list li {
  border-radius: 3px;
  border: thin solid #DDD;
  padding: 5px;
  margin: 2px;
}

#doc-note-list li span {
  font-size: 11px;
}

#note-dlg{
    width: auto;
    height: auto;
}